body {
	text-align: center;
	background-color: grey;
}

div {
	margin: 20px;
}
 .topcorner{
   position:absolute;
   top:0;
   right:0;
  }

#paginationDiv
{
	text-align: center;
}

#start
{
	text-align: center;
}

table, td, th {
    border: 1px solid red;
}

th {
    background-color: black;
    color: red;
}

td{
	background-color: white;
}
#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}
.slideshow-overlay {
 			position: absolute;
 			width: 100%;
 			/* height: 390px; */
 			margin: 0 0 0 -50%;
 			left: 50%;
 			top: 40%;
 			color: #ffffff;
 			text-align: center;
 			font-size: 40px;
 			font-family: "Arial", sans-serif;
 		}
		
#editVid
{
	text-align: center;
}
